@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{ 
        var employee = ViewBag.Employee;
    }

    <h2>@ViewBag.Header</h2>
    <table style="font-family:Arial">
        <tr>
            <td>Employee ID:</td>
            <td>@employee.EmployeeId</td>
        </tr>
        <tr>
            <td>Name :</td>
            <td>@employee.Name</td>
        </tr>
    </table>
</body>
</html>